<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<!--<meta name="theme-color" content="#08C1CE">-->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">

	<title>knowkid</title>
	<!--[if lt IE 9]>
		<script src="script/html5shiv.min.js"></script>
		<![endif]-->
	<link rel="stylesheet" type="text/css" href="/css/font-awesome.css">
	<link href="/css/ionicons.min.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/knowkid.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.min.css">
	<script src="//ajax.aspnetcdn.com/ajax/jquery/jquery-1.12.1.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/js/jquery.cookie.js"></script>
	<script type="text/javascript" src="/js/sha256.jquery.js"></script>
	<script type="text/javascript" src="https://kenwheeler.github.io/slick/slick/slick.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://kenwheeler.github.io/slick/slick/slick.css"/>
	<link rel="stylesheet" type="text/css" href="https://kenwheeler.github.io/slick/slick/slick-theme.css"/>
</head>

<body>
	<div class="header">
		<div class="container">
			knowkid
		</div>
	</div>
	<div class="sidebar">
		<a class="menu" href="/">Classes</a>
		<a class="menu" href="/upload">　- Upload</a>
	</div>
	<div class="wrapper">
		<div class="container">

		</div>