<%- include header %>
	<div class="classes">

		<div class="w3-card">
			<header class="w3-container w3-white">
				<h4>장미반</h4>
			</header>
			<img src="https://cdn.mirror.wiki/http://danchukids.com/eg_board/Pds/Board/photo/%ED%91%B8%EB%A5%B8%EB%82%98%EB%9D%BC%EC%9C%A0%EC%B9%98%EC%9B%90_002.JPG" style="width: 100%;"/>
		</div>
		<div class="w3-card">
			<header class="w3-container w3-white">
				<h4>해바라기반</h4>
			</header>
			<img src="https://cdn.mirror.wiki/http://danchukids.com/eg_board/Pds/Board/photo/%ED%91%B8%EB%A5%B8%EB%82%98%EB%9D%BC%EC%9C%A0%EC%B9%98%EC%9B%90_002.JPG" style="width: 100%;"/>
		</div>
		<div class="w3-card">
			<header class="w3-container w3-white">
				<h4>손오반</h4>
			</header>
			<img src="https://cdn.mirror.wiki/http://danchukids.com/eg_board/Pds/Board/photo/%ED%91%B8%EB%A5%B8%EB%82%98%EB%9D%BC%EC%9C%A0%EC%B9%98%EC%9B%90_002.JPG" style="width: 100%;"/>
		</div>
		<div class="w3-card">
			<header class="w3-container w3-white">
				<h4>손오반</h4>
			</header>
			<img src="https://cdn.mirror.wiki/http://danchukids.com/eg_board/Pds/Board/photo/%ED%91%B8%EB%A5%B8%EB%82%98%EB%9D%BC%EC%9C%A0%EC%B9%98%EC%9B%90_002.JPG" style="width: 100%;"/>
		</div>
		<div class="w3-card">
			<header class="w3-container w3-white">
				<h4>손오반</h4>
			</header>
			<img src="https://cdn.mirror.wiki/http://danchukids.com/eg_board/Pds/Board/photo/%ED%91%B8%EB%A5%B8%EB%82%98%EB%9D%BC%EC%9C%A0%EC%B9%98%EC%9B%90_002.JPG" style="width: 100%;"/>
		</div>
		<div class="w3-card">
			<header class="w3-container w3-white">
				<h4>손오반</h4>
			</header>
			<img src="https://cdn.mirror.wiki/http://danchukids.com/eg_board/Pds/Board/photo/%ED%91%B8%EB%A5%B8%EB%82%98%EB%9D%BC%EC%9C%A0%EC%B9%98%EC%9B%90_002.JPG" style="width: 100%;"/>
		</div>
		<div class="w3-card">
			<header class="w3-container w3-white">
				<h4>손오반</h4>
			</header>
			<img src="https://cdn.mirror.wiki/http://danchukids.com/eg_board/Pds/Board/photo/%ED%91%B8%EB%A5%B8%EB%82%98%EB%9D%BC%EC%9C%A0%EC%B9%98%EC%9B%90_002.JPG" style="width: 100%;"/>
		</div>
	</div>
	<%- include footer %>