<%- include header %>
	<div class="tag">
		<div class="tag-img">
			<img src="/img/1.jpg">
		</div>
		<div class="tag-img">
			<img src="/img/2.jpg">
		</div>
		<div class="tag-img">
			<img src="/img/3.jpg">
		</div>
		<div class="tag-img">
			<img src="/img/4.jpg">
		</div>
		<div class="tag-img">
			<img src="/img/5.jpg">
		</div>

		<div class="tag-img">
			<img src="/img/6.jpg">
		</div>
	</div>
	<%- include footer %>