<%- include header %>
	<div class="tag">
		<div class="tag-img">
			<img src="/img/1.jpg">
		</div>
		<div class="tag-img">
			<img src="/img/2.jpg">
		</div>
		<div class="tag-img">
			<img src="/img/3.jpg">
		</div>
		<div class="tag-img">
			<img src="/img/4.jpg">
		</div>
		<div class="tag-img">
			<img src="/img/5.jpg">
		</div>
		<div class="tag-img">
			<img src="/img/6.jpg">
		</div>
		<div class="tag-img">
			<img src="/img/7.jpg">
		</div>
		<div class="tag-img">
			<img src="/img/8.jpg">
		</div>
	</div>
	<div class="tag-names">
		is he/she...
		<span>김민준</span>
		<span>김예림</span>
		<span>정성민</span>
		<span>김한슬</span>
		<span>최나연</span>
		<span>김동현</span>
		<span>김미연</span>
		<span>강태공</span>
		<span>한이헌</span>
		<span>박주찬</span>
		<span>박성수</span>
	</div>

	<div class="btnNext">
		<button class="w3-button w3-yellow w3-round-large w3-hover-orange" onclick="alert('Completed!');">Next →</button>
	</div>
	<%- include footer %>