<%- include header %>
	<div class="upload">
		<!-- http://chorongi.org/data/file/c_kindergarten/977834348_6JEL2zlo_EAB5ACEBB489ECB4883.JPG -->
		<div class="w3-card" style="background-image: url(/img/1.jpg);">
			<img src="/img/11.png" style="width: 100%;" />
		</div>
		<div class="w3-card" style="background-image: url(/img/2.jpg);">
			<img src="/img/11.png" style="width: 100%;" />
		</div>
		<div class="w3-card" style="background-image: url(/img/3.jpg);">
			<img src="/img/11.png" style="width: 100%;" />
		</div>
		<div class="w3-card" style="background-image: url(/img/4.jpg);">
			<img src="/img/11.png" style="width: 100%;" />
		</div>
		<div class="w3-card" style="background-image: url(/img/5.jpg);">
			<img src="/img/11.png" style="width: 100%;" />
		</div>
		<div class="w3-card" style="background-image: url(/img/6.jpg);">
			<img src="/img/11.png" style="width: 100%;" />
		</div>
		<div class="w3-card" style="background-image: url(/img/add.png);">
			<img src="/img/11.png" style="width: 100%;" />
		</div>
	</div>
	<div class="btnNext">
		<button class="w3-button w3-yellow w3-round-large w3-hover-orange" onclick="location.href='/tag'">Next →</button>
	</div>
	<%- include footer %>